In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('D:\\Data Science\\Machine Learning\\iris.csv')
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
data.drop('Id',axis=1,inplace=True)

In [4]:
x = data.iloc[:,0:4]
x.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [5]:
y = data['Species']
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.3)

K-Nearest Neighbors

In [18]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.9333333333333333

Random Forest

In [19]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.9111111111111111

Naive Bayes

In [20]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.9777777777777777

Support Vector Machine

In [21]:
from sklearn.svm import SVC
model= SVC()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.8888888888888888

Cross Validation

In [22]:
from sklearn.model_selection import cross_val_score

KNN

In [24]:
from sklearn.neighbors import KNeighborsClassifier
model1 = KNeighborsClassifier()
cross_val_score(model,x,y,cv=5).mean()

0.9733333333333334

Random Forest

In [26]:
from sklearn.ensemble import RandomForestClassifier
model2 = RandomForestClassifier()
cross_val_score(model2,x,y,cv=5).mean()

0.9533333333333334

Naive Bayes

In [28]:
from sklearn.naive_bayes import GaussianNB
model3= GaussianNB()
cross_val_score(model3,x,y,cv=5).mean()

0.9533333333333334

SVM

In [30]:
from sklearn.svm import SVC
model4 = SVC()
cross_val_score(model4,x,y,cv=5).mean()

0.9666666666666666